[2019-05-08 13:53] IshaGupta18 opened #3 "Parsing and getting Header names"
This is for parsing the uploaded CSV and getting the header names by detecting columns

[2019-05-08 15:29] namangupta01 opened #6 "Public Lab Grapher Project Setup"
Public Lab Grapher Project Setup for easily installing the different dependencies and structuring the code files and tests.

[2019-05-08 15:49] #6 closed

[2019-05-08 18:40] namangupta01 opened #8 "Add build, watch script to the Project"
With the introducing of new project structure, we want to use the various dependencies present in the project package.json file. For that we will use `require` but for using it we need something that bundles up all the required libraries or modules. For that, we should have any kind of task runner for compiling node_modules. What do you say @jywarren and @IshaGupta18 ? Should we go for grunt or so

[2019-05-08 18:42] IshaGupta18 commented on #8
You are right about this, however, I honestly don't have much experience with the dependency stuff, so I'll have to look up grunt before I can comment on this. Thanks!

[2019-05-08 18:43] namangupta01 commented on #8
No problem! Even I don't have much experience in it :p
But you will become comfortable in some time.

[2019-05-08 19:31] jywarren commented on #8
I think @rexagod was suggesting that this may be a good time to look at
Gulp instead. Perhaps we could hear from @rexagod and think about the
pros/cons a bit more?

On Wed, May 8, 2019 at 2:44 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-08 20:07] namangupta01 commented on #8
`grunt-browserify` do not let the variables available in the browser console for debugging. In case you know, please let me know @jywarren .

[2019-05-08 21:03] rexagod commented on #8
Why I usually recommend gulp is because of a) it uses [transform node streams](https://nodejs.org/api/stream.html#stream_class_stream_transform) rather than temp files, thus giving a nice boost to build tasks and b) it has a cleaner API. That being said, point (a) only should be taken into consideration if the modules are really big, else there's negligible difference between the two, so I believe

[2019-05-08 21:13] rexagod commented on #8
Why I usually recommend gulp is because of a) it uses [transform node streams](https://nodejs.org/api/stream.html#stream_class_stream_transform) rather than temp files, thus giving a nice boost to build tasks and b) it has a cleaner API. That being said, point (a) only should be taken into consideration if the modules are really big, else there's negligible difference between the two, so I believe

[2019-05-09 04:52] #3 closed

[2019-05-09 06:28] namangupta01 commented on #8
@rexagod I think you are right. We should do the runner task using `npm`.

[2019-05-09 06:34] namangupta01 commented on #8
Done in the pr #10. You can have a look.

[2019-05-09 06:35] #8 closed

[2019-05-09 10:19] namangupta01 opened #11 "Add Framework for testing"
We need to add testing framework so that we write tests along with the writing code.
What do you guys say @jywarren and @IshaGupta18 ?

[2019-05-09 10:21] namangupta01 commented on #11
I am thinking of adding testing framework `mocha` and `chai` which is an assertion library for the assertion.

[2019-05-09 10:22] IshaGupta18 opened #12 "Carousel for Design"
I was thinking of using a bootstrap carousel, for this design (to navigate between the 3 tabs), as it might look elegant and will be easy to maintain:

![image](https://user-images.githubusercontent.com/40794215/57446473-5afed880-7272-11e9-9a81-689b3c25a594.png)

What are your views on this @namangupta01 @jywarren ?

[2019-05-09 10:23] IshaGupta18 commented on #11
Sure absolutely, that will be needed in the long run. Please let me know when we begin testing so that I can also learn and write tests because I have rarely done it and would love to learn!

[2019-05-09 13:09] namangupta01 commented on #12
I think we can focus on the design part later. For now, we can work on basic functionality as Jeff said here.

[2019-05-09 13:11] namangupta01 opened #14 "Dividing work for Summer Of Code"
Hi @IshaGupta18, I think it would be better if we divide our work here and make a checklist so that we have a list of all the work to be done and also know who is working on which part? And also it will keep track of our work.
What do you say? and @jywarren also?

[2019-05-09 13:18] IshaGupta18 commented on #12
Okay!

[2019-05-09 14:31] IshaGupta18 opened #16 "Collection of sample data and table display"
@jywarren @namangupta01 #15 is the PR for this issue, kindly have a look at it's functioning. Thanks a ton!

[2019-05-09 14:40] IshaGupta18 commented on #14
Yes I think this would be a wise thing to do. To do this, we should have a
look at our proposals and mix them up and divide the work such that we get
to do the best of all there is and we are able to learn new things from the
project as well as each other! Thanks!

On Thu, May 9, 2019, 6:42 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-09 14:57] jywarren opened #17 "Planning ahead for various export destinations"
This can be a list of services we make it easy to export your data to for the next step!

* https://codap.concord.org/releases/latest/static/dg/en/cert/index.html
* https://databasic.io/en/wtfcsv/
* Google spreadsheets
* Plotly?
* Jupiter notebook?

[2019-05-09 14:58] jywarren commented on #12
Isha has very good design ideas! Once the basics are in place, perhaps that's one way work can be divided and happen in parallel, with Isha developing designs that can be integrated later in the process!

[2019-05-09 15:18] IshaGupta18 commented on #12
Oh thanks a lot! That would be great, will work on it once we have the
basic functionality ready! You can have a look at #15 for some new work in
progess! Thanks again!

On Thu, May 9, 2019, 8:28 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-09 15:21] namangupta01 commented on #14
Yes, let's divide the issues.
[] - Test Setup --> Naman
[] - Testing --> Naman and Isha
[] - Collection of Sample Data and Table Display --> Isha (Already Working)
[] - Plotting Graph Using Chart.js --> Naman (Already Working)
[] - Export Feature
Please feel free to add further work in the list.

[2019-05-09 17:34] jywarren commented on #14
Cool, Isha how do you feel about this? Any suggested changes, additions?

Documentation of how to install/embed on another app, maybe...
https://github.com/publiclab/inline-markdown-editor/ has decent docs for
this, as does BlurredLocation.

UI flow?

On Thu, May 9, 2019 at 11:21 AM Naman Gupta <notifications@github.com>
wrote:

[2019-05-09 17:44] IshaGupta18 commented on #14
I think this is okay for now, I will add some more checkpoints soon. We can divide the documentation work here and I'll more points about UI flow.

[2019-05-09 17:47] IshaGupta18 commented on #17
Yes! I'll explore them up a little and try and implement what is possible!

[2019-05-10 05:50] IshaGupta18 commented on #17
@jywarren could you please shed some more light on these options above. In my proposal, I could only explore Google Sheets API. I have looked up the rest right now but I am a little clueless on how we will be implementing them. Could you please share some examples or tutorials or some more information on these? I really liked jupyter notebook. I think plotly will be like chart.js. What do you thin

[2019-05-10 09:04] IshaGupta18 commented on #14
Hey @namangupta01 if your'e a little busy because of your exams right now, I could take on the chart.js task because I am little free right now. We can reshuffle the work again. What do you think?

[2019-05-10 09:16] IshaGupta18 commented on #17
Hey @jywarren I looked up a lot of stuff for doing exports. What I found out was that it may not be as simple or direct for CSV files. What we can do is, since we have the parsed data and everything now, we can make a JSON out of it, and this JSON can be used for the same purpose, like here http://tabulator.info/ or https://www.dynatable.com/ .

[2019-05-10 09:17] IshaGupta18 commented on #17
What do you think? Converting to JSON is not a problem, my only concern was, is it okay to do this computation? Would it be okay to do this transformation from the 2D array to JSON?

[2019-05-10 09:18] IshaGupta18 commented on #17
@namangupta01 what do you think about this?

[2019-05-10 10:37] IshaGupta18 commented on #17
And I also think that we need to explore the Google Sheets API a little more as well because we might not be able to trigger it directly, that too requires some more research.

[2019-05-10 10:48] IshaGupta18 commented on #17
This is also very interesting! SheetJS would let the user create an excel sheet out of a JSON or a 2D array. https://www.youtube.com/watch?v=41rOAt-zCu4 (sorry for spamming like this but I think export options are very important too)

[2019-05-10 11:20] namangupta01 commented on #14
Okay, so if you want to do it you can proceed. Thanks for so much
enthusiasm.

On Fri, May 10, 2019 at 2:34 PM Isha Gupta <notifications@github.com> wrote:

[2019-05-10 11:23] IshaGupta18 commented on #14
Oh thank you so much for such encouragement! I would definitely come to you
for suggestions in between! Thanks again.

On Fri, May 10, 2019, 4:50 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-10 11:26] IshaGupta18 commented on #14
Also, do have a look at #17 whenever you get the time. Me and @jywarren
have posted some good export ideas there, please give your views on them!
Thanks a lot!

On Fri, May 10, 2019, 4:53 PM Isha Gupta <ishagupta1828@gmail.com> wrote:

[2019-05-10 15:32] IshaGupta18 opened #19 "Graph Plotting"
#18 is the PR which shows the working of graph plotting using chart.js.
@namangupta01 @jywarren please give your review!

[2019-05-10 16:36] #11 closed

[2019-05-11 01:26] rishabhKalakoti opened #20 "updated README for new contributors"
I just came across this repo, (scrolling github XD)
Kind of clueless.
It would be nice to have a few things explained in the readme file.
Some parts of the proposal, maybe?

[2019-05-11 04:59] IshaGupta18 commented on #20
Sure thank you! Will do that as soon as we have a skeletal structure ready!

[2019-05-12 04:46] IshaGupta18 commented on #12
Okay since the basic functionality of uploading a CSV, selecting columns and viewing a graph is up at # 18, with a few refinements I think we need to move to this design part to separate the 3 steps as everything is on a single page for now. What do you think?

[2019-05-14 18:05] #19 closed

[2019-05-17 08:18] IshaGupta18 opened #22 "Browsable Time Slider"
I was trying to make the browsable time slider using https://github.com/schme16/Chart.js-RangeSlider .

But when I included the script file `https://gitcdn.link/cdn/schme16/Chart.js-RangeSlider/677a7eb6c295772606d300697eaf552245e7f171/dist/RangeSlider-all.min.js`, it seems to be interfering with the bootstrap's  JS file and shows an error like

![image](https://user-images.githubusercontent.com/40

[2019-05-18 05:21] IshaGupta18 commented on #22
Okay, so I updated the code and found out that I was accidentally plotting the sample data instead of the complete data. Apologies for that. The graphs will now look more cluttered like this:
![image](https://user-images.githubusercontent.com/40794215/57964943-b0b23f80-795a-11e9-9ab8-b3f2b6f76edf.png)

So we will need to think some stuff through. The requirement for a range slider becomes an absol

[2019-05-19 15:41] namangupta01 commented on #22
I think if that is occurring with the bootstrap, we can't fix it. In that case, it would be better to use something else than bootstrap?

[2019-05-19 15:42] namangupta01 commented on #22
But as I see the error is not due to Bootstrap. This would work super.

[2019-05-19 15:43] IshaGupta18 commented on #22
But that would break the consistency of the sites we have at PL, all use
bootstrap, can we think of an alternative for the range slider?

On Sun, May 19, 2019, 9:11 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-19 15:44] IshaGupta18 commented on #22
So what is causing this error? Because it's causing a conflict.

On Sun, May 19, 2019, 9:12 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-19 15:46] namangupta01 commented on #22
We are making this library standalone which means it would be used by the public lab as well as any other users also. So it would be better if we give them the freedom whether they want to use or not. We should give a default design and if the user of this library wants to improve the css he can do so.

[2019-05-19 15:48] namangupta01 commented on #22
Don't think of only using this for PublicLab anyone should be able to use it on their website. Right?
What do you think?

[2019-05-19 15:49] namangupta01 opened #25 "Enable multiple charts using multiple csv"
I think we now have a somewhat basic structure of this library. I think we can now enable multiple chart support for multiple CSVs.

[2019-05-19 15:50] IshaGupta18 commented on #22
Yes agreed! That would be great, although we still will be needing
bootstrap here for some of the designing, it's a good asset to give up.
Let's figure out why this error is being caused

On Sun, May 19, 2019, 9:18 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-19 15:50] namangupta01 commented on #25
I am working on this. Please feel free to provide some suggestions on this. @jywarren @IshaGupta18

[2019-05-19 15:52] IshaGupta18 commented on #25
Yes that would be great, let's fix this one together. Also, firstly, you'll
have to merge the PRs for toggle design and the add graph one to take a
pull.

On Sun, May 19, 2019, 9:20 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-19 15:52] namangupta01 commented on #25
Toggle pr is not dependent on this. I guess both are independent.

[2019-05-19 15:53] namangupta01 commented on #25
Let's wait for what @jywarren thinks on that pr?

[2019-05-19 15:54] IshaGupta18 commented on #25
Yes, but it would be good to merge them both if you feel it's right, but
the add graph one has to be merged anyways

On Sun, May 19, 2019, 9:22 PM Naman Gupta <notifications@github.com> wrote:

[2019-05-20 09:23] IshaGupta18 commented on #25
I didn't realize this was a separate issue altogether! So could you please flesh out what exactly are we gonna do here? Will we be accepting multiple files in one go or one by one?

[2019-05-20 09:59] IshaGupta18 opened #26 "Remaining Work for GSoC"
Here's a checklist of what is left to do:

- [ ] Integration with plots2

Model and Controller are ready. We need to establish routes and save files against the user.

- [ ] Displaying per-user data

Once the integration with plots2 is complete, we can move to its page design and implementation.

- [ ]  Create charts from previously uploaded files

After integration, just have to list out the file

[2019-05-20 13:39] jywarren commented on #26
Awesome, how about import options? Like, standard modules to import from
CSV URL, string, maybe even Google Spreadsheets later?

On Mon, May 20, 2019 at 5:59 AM Isha Gupta <notifications@github.com> wrote:

[2019-05-20 16:16] IshaGupta18 commented on #26
Yes, we can work on that! While you're at it, could you please have a look
at a couple of PRs and issues we have put up in this repo? Thanks a lot!

On Mon, May 20, 2019, 7:09 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-20 19:46] IshaGupta18 commented on #22
@jywarren @namangupta01  what do you think might be causing the problem here?

[2019-05-21 08:45] IshaGupta18 commented on #22
@gauravano @SidharthBansal @souravirus kindly help me out here a little!

[2019-05-21 09:02] IshaGupta18 commented on #26
@jywarren we have importing feature from CSV URL (basically from a remote file). We can work for a big text area box for a string, and look up google spreadsheets too.

[2019-05-21 09:55] grvsachdeva opened #27 "Add installation instructions to the Readme"
Add more sections to the Readme, specially Installation instructions as we have on other repositories. Dropping a link to https://github.com/publiclab/image-sequencer/blob/main/README.md as that's one of the active JS libraries

Thanks!

[2019-05-21 14:06] gauravano commented on #22
@IshaGupta18 are you still facing this issue?

[2019-05-21 14:08] gauravano commented on #22
Also, can you please push the sample CSV file so that everyone can be on the same page format wise? Thanks!

[2019-05-21 14:12] gauravano commented on #22
I have to press upload every time to plot the graph so how about having an explicit button for that? Also, I wasn't able to test upload using the URL as I am getting CORS. I tried using - http://insight.dev.schoolwires.com/HelpAssets/C2Assets/C2Files/C2ImportCalEventSample.csv.

[2019-05-21 14:35] IshaGupta18 commented on #22
Yes sure! Let me add the sample csv here. And yes this issue persists.

On Tue, May 21, 2019, 7:42 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-05-21 14:40] IshaGupta18 commented on #22
hey, this file works for me! I think it didn't work for you because the latest changes and few bugs were fixed in the PRs I have raised.
![image](https://user-images.githubusercontent.com/40794215/58105518-43c1d280-7c04-11e9-85cc-5688167e74db.png)

![image](https://user-images.githubusercontent.com/40794215/58105636-779cf800-7c04-11e9-90e2-2a6091f97d3e.png)

[2019-05-23 10:56] IshaGupta18 commented on #22
@gauravano what do you think?

[2019-05-27 17:26] jywarren commented on #14
Also noting this blog as interesting, I forget it i shared already!

https://adamlynch.com/flexible-data-tables-with-css-grid/?1

[2019-05-27 18:12] IshaGupta18 commented on #14
Oh yes! I have read about this one! Thank you

On Mon, May 27, 2019, 10:56 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-05-28 11:42] IshaGupta18 opened #30 "Making the graphs more conclusive"
Right now, I think the data we are plotting and the graphs being produced are well and good but its hard for the user to derive some conclusions from it.
After the merging of #29, we need to think of making the graphs more useful.

Firstly, we need to implement the time-slider, which is very important right now, since the data is huge. I am working on it, I have tried to remove a couple of bugs bu

[2019-05-28 15:45] Souravirus commented on #30
Hi, @IshaGupta18 its really nice to add time slider to the graphs. This will really improve the User interface. I will be really happy to help here.

[2019-05-28 15:48] IshaGupta18 commented on #30
Oh I will be glad, lets take the discussion to #22 !

[2019-05-28 15:58] IshaGupta18 commented on #22
Okay so I have fixed this carousel bug! yay! But here's the new one which is creating a problem

![image](https://user-images.githubusercontent.com/40794215/58492630-e93dee80-818e-11e9-8673-73dfabb66a6a.png)

Here's the snippet of the code causing it:

![image](https://user-images.githubusercontent.com/40794215/58492712-17233300-818f-11e9-851e-de77d88fb315.png)

So basically the range-slider is no

[2019-05-28 16:12] Souravirus commented on #22
Hi @IshaGupta18, can you send larger screenshots as these are not visible. I think that if you push the code somewhere or send it in a gist, that would be really great.
Thank you!!

[2019-05-28 16:14] IshaGupta18 commented on #22
Yes absolutely!

On Tue, May 28, 2019, 9:42 PM Sourav Sahoo <notifications@github.com> wrote:

[2019-05-28 16:35] IshaGupta18 commented on #22
#31 will help you with the code @Souravirus. Thanks a lot!

[2019-05-29 13:39] IshaGupta18 commented on #26
@jywarren as for importing data from a Google Sheet, we will need the user to sign in with the google, in order to access the user's data, so we will need a little planning around this.

If the user wants to upload a google sheet, they will simply have to sign in with a google account, and then we can access the sheet's data.

What do you think about this?

[2019-05-29 22:16] jywarren commented on #26
Actually i believe someone in LEL figured out how to do this without a
signin - as long as the sheet is public! Take a look here -- and leave a
comment for more info?

https://github.com/publiclab/leaflet-environmental-layers/pull/97

Awesome!

On Wed, May 29, 2019 at 9:40 AM Isha Gupta <notifications@github.com> wrote:

[2019-05-31 09:07] IshaGupta18 commented on #17
Okay, so anyone has any ideas here, I would love it if we could discuss some feasible options here and start implementing them one by one, as they will be direct to implement here. @jywarren @namangupta01 @Souravirus @gauravano @sagarpreet-chadha @rexagod

[2019-05-31 17:08] IshaGupta18 commented on #26
So I tried and figured it out, and I found out, that for this to work, the sheet will have to be published on the web, something like what has been done at LEL:
Like here
![image](https://user-images.githubusercontent.com/40794215/58722183-6b7b1c80-83f4-11e9-99dd-05435292fced.png)

Then we can fetch data without logging in.

The question here is, is it worth the user, to publish data that might be

[2019-06-02 14:09] IshaGupta18 commented on #26
@IgorWilbert @geekychasser what do you think about this?

[2019-06-02 14:10] IshaGupta18 commented on #17
@IgorWilbert @geekychasser what do you think of some of the ideas here?

[2019-06-04 20:32] jywarren commented on #17
Yikes, i'm sorry i missed this thread @IshaGupta18 -- catching up now. OK, so the reason I cited a few of these was that they have some interesting analysis capabilities -- that could be useful to fulfill the question you brought up on the call today. That is - "how do we get more information or analysis out of the data?" - as you articulate in https://github.com/publiclab/simple-data-grapher/issu

[2019-06-05 15:26] IshaGupta18 commented on #17
Yes! I agree with you here, I would love to make a menu panel like this one but as you said, many of the export options aren't as direct as they can be. So, I think that we need to, like you said, sort out the viable options and start implementing them here. Do you have any particular idea of which one should be picked up to start with? Thanks a lot!

[2019-06-05 19:05] jywarren commented on #25
Hi, just seeing this conversation didn't finish before we implemented it...

I worry that we are getting a little ahead of ourselves -- we may make the right choices, but for example, in ImageSequencer, we early on wanted it to handle multiple images. Then, a year later, we realized if you want multiple images, just start multiple sequencers -- it vastly simplified the code.

So, I'm not saying th

[2019-06-05 19:21] IshaGupta18 commented on #25
Yes, I had similar doubts when I saw its working in the GIF because I am not entirely convinced that adding another CSV file there would be able to help the user productively. We definitely need the classes, however, for another file, the user can upload it and create a fresh set of graphs with it, instead of mixing it up with another CSV, because it would be easier for them to follow. This featur

[2019-06-05 19:46] jywarren commented on #25
Let's think through the possible use cases. I agree with merging but this will inform our next steps.

1. 2 CSVs of the same timeframe (with timestamps and/or without)
2. 2 unrelated CSVs -- no common columns (this would not be ideal in the same instance, but people might do it anyways, so we'd have to think of how the project would respond to this)
3. 2 CSVs with one common column... for someone

[2019-06-05 20:06] jywarren commented on #17
I think Codap might be good: https://codap.concord.org they already have a popup that prompts you to upload a CSV (see below):

![image](https://user-images.githubusercontent.com/24359/58986144-c8872180-87aa-11e9-872c-6bc89299b99c.png)

I've left a comment on this issue briefly explaining our goal and how we might like to do this: https://github.com/concord-consortium/codap/pull/144#issuecomment-4

[2019-06-05 20:13] namangupta01 commented on #25
Hi @jywarren, in the current implementation of the library as the multiple graph pr is not merged we cannot create multiple graphs infact the code is very rigid to one csv and also we cannot create more than one instance as you can see in the code. It needs structuring of the whole code into the classes which not only gives us the organized code but also gave us the feature to have multiple instan

[2019-06-05 20:19] namangupta01 commented on #25
In the earlier code not only user was not able to create multiple graphs but for making a graph he have to add css and html in the code with is not good. User experience should be such that he is able to do all the things by just calling a function. What do you think @jywarren?

[2019-06-05 20:43] namangupta01 commented on #25
In the current Implementation user can create as many instance he want by just calling a function and pass id of an element as argument. Doesn't this make sense? @jywarren and @IshaGupta18 and Isha we are not making comparision graph I think you mis understood, both are independent instance and we are not replicating things one below other infact we can use it anywhere in the page.

[2019-06-05 21:04] jywarren commented on #26
I think perhaps we should offer some good guidance (with screenshots) on how to make it public, but simultaneously warn people what that will mean with regard to privacy. If they don't want to do it, they could just upload instead of using the Google Spreadsheets process.

[2019-06-06 00:38] jywarren commented on #25
Ah, can you try to illustrate this with a sketch? I think I'm not 100% sure
I'm imagining the right thing. Thanks!

On Wed, Jun 5, 2019, 4:43 PM Naman Gupta <notifications@github.com> wrote:

[2019-06-06 04:08] IshaGupta18 commented on #25
Yes that would be great. Also, in the current implementation, we can create
multiple graphs from the same CSV very easily, which serves it's own
purpose very well.

On Thu, Jun 6, 2019, 6:08 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-06-06 04:11] IshaGupta18 commented on #26
Yes, I think that would be apt. We can write the steps required to upload a
Google Sheet and it's repercussions. I have implemented this feature here!

On Thu, Jun 6, 2019, 2:34 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-06-06 04:46] IshaGupta18 commented on #25
And what I mean by "comparison graph" is that we can use this feature, to enable the user to plot 2 different graphs from 2 different CSVs (ie create multiple instances) and compare them by looking or through the analysis we provide. That would be a good application of this I think. What do you say?

[2019-06-06 04:51] IshaGupta18 commented on #17
Oh I think this would be lovely, let me try a couple of these out and I'll get back to you with what worked and what didn't. Thanks a lot!

[2019-06-06 04:56] IshaGupta18 opened #33 "index.html not able to load, 'cannot set property' bug"
On running `https://github.com/publiclab/simple-data-grapher/blob/main/examples/index.html`,
`PublicLab.Grapher.js:188 Uncaught TypeError: Cannot set property 'first' of undefined
    at new SimpleDataGrapher (PublicLab.Grapher.js:188)
    at index.html:20`
is encountered.
![image](https://user-images.githubusercontent.com/40794215/59007745-70512d80-8845-11e9-8171-afdaff7ac32b.png)

@jywarren @nam

[2019-06-07 15:24] IshaGupta18 commented on #33
A little help here @namangupta01 ?

[2019-06-07 19:29] IshaGupta18 opened #34 "Discussion on using plotly"
@jywarren @namangupta01 @Souravirus @IgorWilbert @gauravano do you think it will be a good idea to switch to plotly instead of chart.js because of its better UI, zooming, panning here
https://plot.ly/javascript/
This might ease us out on a lot of stuff for us with a better range of features. What do you all think?

[2019-06-08 08:28] IshaGupta18 opened #35 "Adding CORS Proxy for remote files"
When the user adds a link to a remote CSV file, we were getting CORS
`Access to XMLHttpRequest at 'file url' from origin 'null' has been blocked by CORS policy: Request header field range is not allowed by Access-Control-Allow-Headers in preflight response.`

To resolve this, I have used a CORS proxy

` function receive(data){
        console.log(data,"data");
    }
    function func(){
        va

[2019-06-08 16:34] #33 closed

[2019-06-08 16:36] namangupta01 commented on #33
@IshaGupta18 I have updated the code. Pull the new code and it will work :)

[2019-06-08 16:41] namangupta01 commented on #34
Yes, this new chat looks nice and also provide various inbuilt functionality. Like download as image, zooming and all. It looks good. But we should consider all aspects before moving to this one. Let's take what others think about it. In the meantime, I am exploring more about this Plotly.

[2019-06-08 16:42] namangupta01 commented on #27
On it :)

[2019-06-08 16:45] IshaGupta18 commented on #34
Yes! I think it has great functionality but let's see if it doesn't harm any of the other functioning. I am exploring this one too and if we get an upvote for it, we will shift to it!

[2019-06-09 16:50] IshaGupta18 opened #38 "Uncaught TypeError: Cannot read property 'push' of undefined"
I am facing this error on uploading a local file
![image](https://user-images.githubusercontent.com/40794215/59161803-bb4c9880-8b04-11e9-949b-b0738de62039.png)

@namangupta01 @jywarren any idea why this is happening?

[2019-06-10 09:59] IshaGupta18 commented on #34
@Souravirus agreed with this on #31. What do the others think about this?

[2019-06-10 10:02] IshaGupta18 commented on #17
So I think a lot of these options are pretty great but I am not able to find a proper or a direct way of implementing these. Is there any way we can speed up this process? @jywarren could you suggest something here or a super simple option that can get the ball rolling? Thanks a lot!

[2019-06-10 12:07] IgorWilbert commented on #34
@IshaGupta18 good find! I guess the replace depends on what people want for the project. Using plotly may save us work since they have so many different types of graphs ready to use. However, we would lose a bit of flexibility to make custom graphs, essentially just applying those types. Since I think your end goal is CSV compatibility, I vote for plotly, as long as you don't lose much of what you

[2019-06-10 19:33] namangupta01 commented on #25
Let's do further discussion in a new issue. This feature is implemented in #29.

[2019-06-10 19:33] #25 closed

[2019-06-10 19:33] namangupta01 commented on #25
Closed via #29

[2019-06-10 19:49] namangupta01 opened #40 "Add csv upload via link and csv via copying the column in new code base."

[2019-06-11 06:30] gauravano opened #41 "Weekly community check-in #25 (Favourite IDE)"
Hi everybody :smiley: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past

[2019-06-11 06:33] gauravano commented on #41
**ANNOUNCEMENT by @ebarry:**
Hi all, I can repost this when someone opens our this week check-in but here for now:

Welcoming reminder that tomorrow we will convene for the 2nd Edition of Code Open Call!

Time: Jun 11, 2019 12:30 ET / 16:30 UK / 22:00 India

Link: https://zoom.us/j/440795826

Notes will be here: https://pad.publiclab.org/p/opencall (use the upper right hand button to add your name

[2019-06-11 06:33] gauravano commented on #41
@mohitRJranjan @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @rexagod, @divya

[2019-06-11 06:34] gauravano commented on #41
@mohitRJranjan @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @rexagod, @divya

[2019-06-11 06:34] gauravano commented on #41
@publiclab/community-reps @subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19 @Jenniline @madelinejones @helenatxu @richa031 @fabsar @kuja24 @megha070 @Aarabhi2017

[2019-06-11 06:37] gauravano commented on #41
@Priyak5 @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @scheleon @mahmodHammad @santushk @jillpena @stoic-plus @starkblaze01 @aSquare14 @vaarigupta @alonpeer @madeofhuman @ibnjunaid @aashna27 @harshithpabbati @mmmelissa @rarrunategu1 @daz @UNnamed66 @GauravJ3 @Greg-Tarr @Sanscripter @hodbadger @alaxalves @becomingajunior @monsij @vrk99 @pdurbin @H

[2019-06-11 14:27] jywarren commented on #41
Hi all! Just a heads up to @kaustubh-nair @alaxalves @stefannibrasil @cesswairimu @sashadev-sky about this great post by Mo Langmuir testing out MapKnitter! https://publiclab.org/notes/molangmuir10/06-10-2019/mapknitter-ui-evaluation

[2019-06-11 14:31] jywarren commented on #41
Also, just repeating what @ebarry noted in the last check-in --

[2019-06-11 14:35] jywarren commented on #41
@rexagod great demos in last week's update! I forked both your repos to @publiclab and made you an admin. Did you want to create `gh-pages` branches and link to any demos from the new forks?

[2019-06-11 14:46] IshaGupta18 commented on #40
Opened a PR #42 for this!

[2019-06-11 16:02] jywarren commented on #34
Hi! If you want to abstract the display portion of the library, you can plan to make it possible to hand data off to either library using an adaptor function. Like, the standard data could go out to `display(chartLib, data)` where chartLib is either chart.js or Plotly.... could that work?

[2019-06-11 17:04] ryzokuken commented on #41
I like VSCode because it has a great plugin for Vim keybindings (cannot live without those) but still the amazing plugin ecosystem.

So yes, I like Vim's keybindings but VSCode's ecosystem. If you're mostly doing Rails though, you should just stick to Vim IMO.

The folks at thoughtbot (https://thoughtbot.com/) have a ton of great Vim plugins for Rails dev.

[2019-06-11 17:50] rexagod commented on #41
@jywarren Sure thing! I'll get to that as soon as possible. Hey, @ryzokuken! It's really nice to see you chiming in here! 😄

[2019-06-11 17:52] cesswairimu commented on #41
Hello :wave: ,

My all time editor is vim :1st_place_medal: , love the dark theme and different plugins, also the fact that it runs on the terminal so I don't have to switch between windows when running commands and code editing.

A big thumbs up to the soc folks :tada: :tada:  ..you guys are working on interesting and cool stuff and it was great to learn more about your projects today on the call

[2019-06-11 18:13] cryptoclidus commented on #41
Hello,

I don't have a strict favourite IDE but I like Spyder and RStudio for hashing out ideas in python/R. Reading the comments from everyone I may have to try vim!

This week I am working on a HDR method and algorithm that will get consistent good graphs from jpgs. I had a pretty successful preliminary result here: https://spectralworkbench.org/spectrums/159819

A big question coming up is how

[2019-06-11 18:45] IshaGupta18 commented on #34
That would be a great idea! Actually we will just have one function (or a
set of 2-3 functions) and use them for the plotting part, which involves
the libraries. The rest of the code will stay put. However it won't be an
easy task as the code is written, keeping in mind the structure of
chart.js, so we will need to do something similar for plotly.js, and then
think of how to structure the adopter

[2019-06-11 21:26] daz commented on #41
Can we stop this mass tagging users? Very annoying

[2019-06-11 22:51] jywarren commented on #41
Hi @daz - sorry we bothered you. We'll do our best not to tag you again but since this is a rotating responsibility it's a bit tough. What I recommend is choosing "ignore" in the `Watching` menu, just to be sure you aren't bothered again:

![image](https://user-images.githubusercontent.com/24359/59312141-fae8c100-8c79-11e9-9e3f-bf5ebc3dec22.png)

Thanks!

[2019-06-11 22:54] jywarren commented on #41
@cryptoclidus this is a great question. I think @sidntrivedi012 is working on a stand-alone capture interface. What is possible with that working is to stream video from a Raspberry Pi as we do in Infragram:

https://publiclab.github.io/infragram/ is installed in the https://publiclab.org/wiki/pi-builder Pi Builder software, so when you start up that Raspberry Pi, you can use Infragram there (it's

[2019-06-11 23:32] daz commented on #41
Yes, but then you will tag me in the next one on a different repo that I was never watching

[2019-06-12 00:30] MargaretAN9 commented on #41
Hello! I am so glad that we are doing these weekly check-ins! 😄
I made a user manual for the Image Sequencer so that anyone can find it easy to use.  Version 0.1 of the Image Sequencer User Manual is available at: https://github.com/MargaretAN9/GSOC-2019/blob/master/Image%20Sequencer%20User%20Manual%20v3.docx select 'view raw' for Word file download.

[2019-06-12 03:09] cryptoclidus commented on #41
@jywarren and @sidntrivedi012 a standalone capture interface sounds wonderful. Sure if you don't mind it would be great to collaborate!

[2019-06-12 09:05] #38 closed

[2019-06-12 09:09] IshaGupta18 opened #44 "Uncaught ReferenceError: _CsvParser is not defined"
![image](https://user-images.githubusercontent.com/40794215/59338218-9bdd8780-8d1f-11e9-9c06-04b119f84606.png)
@gauravano @jywarren @namangupta01 I am facing this error while uploading CSV string or a google sheet link #43 is the code which contains it. Kindly help me out here so that this can be fixed ASAP! Thanks a lot

[2019-06-12 09:22] IshaGupta18 opened #45 "Unable to pass the contents of fetched data using CORS proxy to another function"
To fetch data from a remote file #35 , I had to implement a CORS proxy for it, and it is able to fetch the data from the remote CSV file, however, I am unable to pass it on to another function, but just print it in the console. #42 has the code for it, I have left a review in the PR against the code snippet. Let's resolve this really quickly

![image](https://user-images.githubusercontent.com/4079

[2019-06-12 09:55] IshaGupta18 commented on #34
https://code.tutsplus.com/tutorials/create-interactive-charts-using-plotlyjs-getting-started--cms-29029 lists why we should use plotly!

[2019-06-12 14:40] jywarren commented on #44
Hmm, can you highlight the exact line? And is there a test that can demonstrate the error occurring? Thanks!

[2019-06-12 18:01] rexagod commented on #41
Hey @daz! I'll make sure you aren't included in the check-ins from here on out. Thank you for cooperating with us.
***
@gauravano Remember a while back when someone suggested running scripts in the console like some orgs do currently but we weren't in the favour of it? I guess we should re-evaluate on that decision and start planning on forming an elaborate script including things like,
[code]
Wha

[2019-06-12 18:15] rexagod commented on #41
Better yet, make an md file and add names to it? You know, of the people that don't want to be included? Or maybe removing those names from our database of users?

[2019-06-12 19:31] #12 closed

[2019-06-12 19:31] #16 closed

[2019-06-12 21:02] daz commented on #41
No, just stop abusing the tagging system. Let people opt in to a subscription.

[2019-06-13 12:57] HarshKhandeparkar commented on #41
Hello @daz, people cannot subscribe to all repos. Even if they do, they will get notifs about all the activity in those repos. I personally love this system of tagging, you tag the people, they get notif only for the checkin and then done.

If you(or anyone else) doesn't want to get notified, please let us know and we will stop tagging you.

[2019-06-13 12:57] HarshKhandeparkar commented on #41
Sorry for the inconvenience.

[2019-06-13 17:09] rexagod commented on #45
https://github.com/publiclab/simple-data-grapher/blob/46ff3bd268bf1e21cba88286917dd08a8c8fe983/src/View.js#L121-L130

[code]

@IshaGupta18 Try this.

[2019-06-13 21:41] namangupta01 commented on #41
Hi all, My favourite IDE is WebStorm for javascript projects and RubyMine for Ruby Projects.

I have been working on different things from organizing the structure and dividing code into MVC using classes and also to support multiple graphs in simple-data-grapher in pr https://github.com/publiclab/simple-data-grapher/pull/36 to WebSocket basic implementation  in plots2 in pr https://github.com/pub

[2019-06-14 19:11] IshaGupta18 commented on #34
So any conclusion we may have drawn out on this one? @jywarren what do you think?

[2019-06-14 19:19] IshaGupta18 opened #47 "Update Graph feature"
**Describe the feature/solution you'd like**
I was thinking of implementing an "Update Graph" feature. We had this feature before the "Add Graph" feature was introduced, but now since we have multiple graphs, we have to write this feature again. But it would be a little tough since we'll have to save every graph's configuration even after it is plotted, which will be a heavy burden. The add graph

[2019-06-15 09:59] sidntrivedi012 commented on #41
Hey everyone, I personally use VSCode for all of the stuff I do with javascript. Also, I use the awesome extensions like ESLint and Night-owl theme(https://marketplace.visualstudio.com/items?itemName=sdras.night-owl) to make the dev-environment more efficient and appealing .

This week, I will be working on https://github.com/publiclab/spectral-workbench.js/issues/95 and also on refactoring the ca

[2019-06-15 15:35] HarshKhandeparkar commented on #41
My favorite IDE for JS is VSCode. If I do pure JS or React, I use VSCode. I use Atom for normal Web Development i.e HTML, CSS, little bit of JS, I also use it for BASH.

VSCode:
- Has intellisense (I love this)
- Is light
- Starts up quickly
- Has a good terminal
- Awesome code completion for JS
- Perfect Marketplace

Atom:
- Good for HTML, CSS but not so much for JS.
- The best git VCS tab I have

[2019-06-15 18:39] SidharthBansal commented on #41
I used Atom. Now I am getting fond of Intellij. There are more features there. :-)

[2019-06-16 10:25] kaustubh-nair commented on #41
Hey everyone :wave:
I like vim since it can be really fast once you get a hang of it. Personally, I'm much more productive on vim than other modern gui based editors. And it has cool plugins like fuzzy search and easymotion.
### Soc update
I'm done with the Yarn switch, and also fixed asset precompilation on travis. It is ready for a merge https://github.com/publiclab/mapknitter/pull/702
@alaxalve

[2019-06-17 16:44] IshaGupta18 opened #49 "Testing Suites"
Currently, we are working with Mocha in our tests in this repo. However, I think we should chime in a couple of thoughts here regarding this.
We should do a comparison between Mocha, Jasmine, and Jest, the first 2 being used in different PL's repos, as far as I know.
https://medium.com/welldone-software/an-overview-of-javascript-testing-in-2019-264e19514d0a
https://stackshare.io/stackups/jasmine-v

[2019-06-17 19:40] jywarren commented on #49
Great, thanks for this summary!!!

I found some great references search Gitter for `mocha`:

https://gitter.im/publiclab/publiclab?at=59359203cf9c13503c570db7

[code]

Also from one of these results, input from @ananyo2012 (Hi Ananyo!!!!):

[code]

And my thoughts on it were:

[2019-06-17 19:57] rexagod commented on #49
As far as mocking support is concerned, along with ananyo's corners, I'd say the we should give Jest a spin. It wasn't there back in 2012, or wasn't atleast popular so to say, but it's got everything, from headless support (below) to semantic `expect` and `it` APIs for the newer contributors.

![1_BK8l8MaHZaNJqOITCgMMCg](https://user-images.githubusercontent.com/33557095/59632371-b1abdc00-9167-11e

[2019-06-17 20:22] jywarren commented on #41
Hi everyone! I'm scrambling a bit today because of our new Kickstarter launch (https://www.kickstarter.com/projects/publiclab/babylegs/) but will catch up as I can.

Was someone interested in opening a new weekly check-in?

[2019-06-18 04:37] IshaGupta18 commented on #49
I am okay with it I think since I am just exploring the three.  have just begun with Mocha, although to start my testing, I require to create a UI test first. So that's why I got a little curious as to which framework we should use. I have seen the example given by @rexagod and I think it's pretty good. @jywarren what do you think? Should we give jest a shot?

[2019-06-18 05:25] IshaGupta18 commented on #49
@rexagod I have a small doubt. I need to test my [CsvParser](https://github.com/publiclab/simple-data-grapher/blob/main/src/CsvParser.js) functions first (before moving to [View's functions](https://github.com/publiclab/simple-data-grapher/blob/main/src/View.js)), but to do so, I need a `div` element ie a mock of a div element, because when the function reaches this line: https://github.com/public

[2019-06-18 05:50] rexagod commented on #49
[code]

Dynamically create, run tests on, and remove the `div`.

[2019-06-18 05:54] IshaGupta18 commented on #49
Create this where? Btw this is what is there in the `index.html` file: https://github.com/publiclab/simple-data-grapher/blob/c1dda36b83ff1cbddf70c88915c4cd0e0885ee1f/examples/index.html#L15-L21

[2019-06-18 06:06] rexagod commented on #49
Add and delete the div during the period of the test run. Create the div, when test is done with it, destroy it.

[2019-06-18 06:11] IshaGupta18 commented on #49
Oh, in the `index.html` only, right?

[2019-06-18 06:13] IshaGupta18 commented on #49
Could you please elaborate a little more, I am so sorry to ask so many questions, I am actually unable to understand the flow here?

[2019-06-18 06:21] rexagod commented on #49
What exactly don't you understand?

[2019-06-18 06:25] IshaGupta18 commented on #49
Where to make this mock div, and then how to make it accessible to the
CsvParser or View object, because what I am planning to do is, create an
object in the test file, and use it to call different functions of the
class, and check the value each function assigned to a parameter. Does that
make sense?

On Tue, Jun 18, 2019, 11:51 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-06-18 06:32] rexagod commented on #49
` SimpleDataGrapher.elementIdSimpleDataGraphInstanceMap[this.elementId].view.continueViewManipulation(); `

Just before this line, make a div using js (syntax above). Actually there's no need to destroy it just don't append it to the DOM. Refer to that div's id in your tests. That's it!

[2019-06-18 06:33] ananyo2012 commented on #49
Hey all. Nice to have mentioned. That was quite some time back I had that discussion with @ryzokuken on testing framework. Here is what I feel on choosing a testing framework
1. Should have good mocking libraries. Having written tests in multiple frameworks and languages I feel this one is a major thing to consider. We don't want to spend a lot of time to write a mock or a stub which also makes it

[2019-06-18 09:59] ryzokuken commented on #49
I use Jest (because I'm lazy) these days mostly, but both Chai and Mocha are nice testing libraries. Please feel free to hit me up if you need help/more context regarding any.

[2019-06-18 20:16] gauravano commented on #41
Really nice document @MargaretAN9 :100: :rocket:.

@rexagod, @jywarren and I were discussing to utilize GitHub API for the contributor list like we show recent contributors on https://code.publiclab.org. Although it's not working right now, there's an issue open - https://github.com/publiclab/community-toolbox/issues/222 and, next we will try to improve that list maybe by providing options to choo

[2019-06-19 00:06] MargaretAN9 commented on #41
Hello and Happy Tuesday! 😄
[Here](file:///C:/Users/Marga/Downloads/opencv%20image%20sequencer%20v2.pdf) is my status update for this past week.  I am using webstorm to try and work with image sequencer @aashna27 but the javascript files keep giving me a 'throw.err' whenever I try to run them.  I have done everything I can possibly think of with node.js and npm to try and get it to work, but nothin

[2019-06-19 06:52] IshaGupta18 commented on #41
Hello Everyone! Really great to see a check-in in this new repo!
I used to use Sublime text a lot, but recently I have shifted to VS Code and I absolutely love it

GSoC Update:

So in the last week, I completed a big PR on modularizing the code and adding more import options like a remote file and a published Google Sheet.
I have also implemented a feature to download the imported data as an Excel

[2019-06-19 21:10] jywarren commented on #34
Hi @IshaGupta18 - to be honest, i trust you to make the call! What I would do is think about what is the common API a swappable generic graph library would need. Would it be:

1. `grapher.load(data)` => accepts data
2. `grapher.render(element)` => generates HTML
3. `grapher.update(data)` => updates HTML
4. ...?

This kind of approach helps design any component in your system. And, the input/output

[2019-06-19 21:20] jywarren commented on #17
Hi @IshaGupta18 can you give a brief update on what they mentioned in https://github.com/concord-consortium/codap/pull/144#issuecomment-499232827  and if that'd work?

[2019-06-19 23:24] rexagod opened #50 "Resolve linting errors"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-06-20 04:52] IshaGupta18 commented on #34
Yes agreed. I'll try to structure the code accordingly. I'll keep you posted on how I will be going about it!

[2019-06-20 04:57] IshaGupta18 commented on #17
@jywarren I didn't get any other reply, apart from the comment that mentioned you. The URL they gave for trying the feature out (https://codap.concord.org/releases/build_0481/static/dg/en/cert/index.html?url=https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD) , if we replace the URL of the file here ie `https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessTy

[2019-06-20 04:58] IshaGupta18 commented on #50
This is great @rexagod ! We'll open a couple more of these!

[2019-06-20 05:05] IshaGupta18 opened #51 "Remove console.log statements"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-06-20 05:40] IshaGupta18 opened #53 "Change 'Create Spreadsheet' button's style"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-06-20 11:33] SergeyTkachenko-Cj commented on #53
claim)

[2019-06-20 11:35] IshaGupta18 commented on #53
Go right ahead. When you clone the repo, do npm install to install the
dependencies, and do npm run build, to see the changes in the main file.
We'll be updating the README.md soon. Thanks a lot!

On Thu, Jun 20, 2019, 5:03 PM CJTaylor <notifications@github.com> wrote:

[2019-06-20 13:28] mjkaehr commented on #51
First time contributor! Can I claim this?

[2019-06-20 14:21] IshaGupta18 commented on #51
Please go right ahead. When you clone the repo, do npm install to install
the dependencies, and do npm run build, to see the changes in the main
file. We'll be updating the README.md soon. Thanks a lot!

On Thu, Jun 20, 2019, 6:58 PM Morgan Kaehr <notifications@github.com> wrote:

[2019-06-20 16:52] Souravirus commented on #49
Hi everyone, I changed the tests in plots2 from Jasmine to Mocha because jasmine-rails was unable to test modern ES features. So, there was a need for another testing suite and Mocha seems perfect at that time.

[2019-06-20 19:21] IshaGupta18 commented on #34
@jywarren I have implemented plotly in our project, I will be pushing the code in the `adopter function` form you suggested.

Here's a gif of how it works and a couple of images!

![plotly](https://user-images.githubusercontent.com/40794215/59875476-7a833800-93be-11e9-9bf5-c98aec60e36e.gif)
![image](https://user-images.githubusercontent.com/40794215/59875481-7eaf5580-93be-11e9-94cf-4589996fbee9.pn

[2019-06-20 19:29] osbornetunde commented on #50
I claim this

[2019-06-20 19:57] jywarren commented on #34
This is AWESOME!

On Thu, Jun 20, 2019 at 3:22 PM Isha Gupta <notifications@github.com> wrote:

[2019-06-20 20:03] rexagod commented on #50
@osbornetunde Go ahead, and let us know if you face any problems whatsoever. Thanks!

[2019-06-20 20:05] IshaGupta18 commented on #34
Thanks a lot! I'll be pushing the code very soon!

On Fri, Jun 21, 2019, 1:27 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-06-20 20:06] IshaGupta18 commented on #50
Yes! When you clone the repo, do npm install to install the dependencies,
and do npm run build, to see the changes in the main file. We'll be
updating the README.md soon. Thanks a lot!n Fri, Jun 21, 2019, 1:00 AM
Osborne Tunde <notifications@github.com> wrote:

[2019-06-20 23:16] jywarren commented on #17
Can you reply to them showing this and asking if there is a bug? Thanks!

On Thu, Jun 20, 2019 at 12:57 AM Isha Gupta <notifications@github.com>
wrote:

[2019-06-21 04:49] IshaGupta18 commented on #17
They did say before that currently there is a bug in this one, but I will show them this and ask for the solution. Thank you. Also, in the meanwhile, would you recommend some other export option's implementation?

[2019-06-21 07:55] #51 closed

[2019-06-21 16:09] jywarren commented on #49
Hi, this is not the same thing but a related convo on build tools was here - just found it: https://github.com/publiclab/PublicLab.Editor/issues/227

[2019-06-21 17:25] sashadev-sky commented on #41
Looks like we might of skipped a check-in and people continued on this one?@alexalves offered to open the next one on Sunday so we’ll have a new one then!

@jywarren @gauravano

[2019-06-21 18:36] jywarren commented on #41
Yeah, that sounds good! Thank you!

On Fri, Jun 21, 2019 at 1:26 PM Sasha Boginsky <notifications@github.com>
wrote:

[2019-06-21 21:32] rexagod commented on #49
I was curious to know @publiclab/soc @publiclab/reviewers opinions on using npm scripts as the ultimate task runner, just to keep things simple and way more flexible, while considerably reducing the bug count (no third-party mirrors of deps). I guess we can consider integrating the newer modules with `gulp` or `webpack` for a change if people see advantages in the same, otherwise, maybe we should

[2019-06-21 22:05] jywarren commented on #49
I'm ok with npm as the task runner!

On Fri, Jun 21, 2019 at 5:32 PM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-06-23 03:35] gauravano commented on #41
Hi everyone,

Sorry, I was not able to respond to many threads in the past 2 weeks due to the US trip. But, yeah, the US trip was great. Learned a lot at GCI summit. And, it was a pleasure meeting @jywarren @bronwen9 @sashadev-sky Amanda in-person. Would publish a blog post soon.

Hey @MargaretAN9, please open an issue with more details in https://github.com/publiclab/image-sequencer/. And, as usu

[2019-06-23 15:12] HarshKhandeparkar commented on #41
I was fiddling with animations. Created something really weird and felt like sharing.

![much-weirder](https://user-images.githubusercontent.com/34770591/59978171-37f87000-95f7-11e9-90a5-a3584ea40a8e.gif)

![even-more-weird](https://user-images.githubusercontent.com/34770591/59978182-59595c00-95f7-11e9-8023-7419f89b5065.gif)

[2019-06-24 07:53] Rishabh570 commented on #41
Hi everyone, _VS Code_ **+** _Extensions_  **===**  _Best experience_ :smiley:!

This week I'm **working** on,
- Making the recent contributors logic flexible for various time periods,
- Generating a list of FTO issue authors,
- Incorporating permalinks to site.

Work **ready** for review,
- Theme switcher,
- Implementation of the stale issues list

Work **completed**,
- The default welcome page n

[2019-06-24 10:12] smileyKJ commented on #53
Is this issue still open? first timer as well :)

[2019-06-24 10:48] #53 closed

[2019-06-24 10:49] IshaGupta18 commented on #53
Hey! This one's resolved now, we would be creating more FTOs and would love for you to help us out there. Thank you!

[2019-06-24 14:13] alaxalves commented on #41
Oh my, I have totally forgot about that. Do we still want that?

These past weeks I have been fully working on the Rails upgrade and its patches. You can find all of my work on [publiclab/mapknitter/685](https://github.com/publiclab/mapknitter/pull/685).

**Completed** work so far:
- Removed deprecated method invokations, such as `atr_acessible`.
- Locked every version of our gems, to latest possi

[2019-06-24 14:35] cesswairimu commented on #41
Hey @alaxalves, yes, please open a new check-in. Thanks

[2019-06-25 02:16] sashadev-sky commented on #41
new check-in is in plots2 this week: https://github.com/publiclab/plots2/issues/5943

[2019-06-25 05:07] #41 closed

[2019-06-26 05:18] IshaGupta18 opened #60 "Integration With Plots2"
This is the next thing we need to do.
Once this is integrated with the main site like PL editor, the functionality will remain the same, but we need to understand how this is to be done.
I am not very sure about how to begin with it, and it would be great if I could get some guidance here for the same.
Once we have integrated this, we have to implement (some or all) of the following features:

- [

[2019-06-27 23:05] jywarren commented on #60
Hi Isha! Just copying in the note from the open call on this:

- example of current CSV graph integration: https://github.com/publiclab/plots2/blob/master/app/views/grids/_graph.html.erb, this is generated when a graph powertag is used on the site: https://publiclab.org/wiki/power-tags#Inline+graphs

See how this code pattern-matches the `[graph:example.csv]` in node and comment text, and replaces

[2019-06-27 23:06] jywarren commented on #60
So let's implement a second version like `[simple-graph:/path/to/example.csv]` by copying that filter function and then adding a second html template.

[2019-06-27 23:06] jywarren commented on #60
and once we feel good about it we can replace the original!

[2019-06-28 04:17] IshaGupta18 commented on #60
Oh alright, let me have a look and understand these ones! Thank you!

[2019-06-30 08:17] IshaGupta18 commented on #60
I am not very sure on what exactly we are supposed to do here? Could you please elaborate more on this?

[2019-06-30 08:43] IshaGupta18 commented on #49
Any suggestions for UI testing with mocha @jywarren @namangupta01 @rexagod ?

[2019-07-01 15:06] IshaGupta18 opened #64 "Export Option for Google Sheet"
I am working on a demo of the simple-data-grapher library to be hosted on heroku and also implement the Google Sheets feature there, as after struggling for few days I realized that we need a server to make that work, as credentials can't be set in the browser itself.
Here's a link which explains it better https://github.com/googleapis/google-api-nodejs-client/issues/1620.
So once the demo is up a

[2019-07-01 15:08] IshaGupta18 commented on #60
@jywarren I am happy to tell you that I have published the first version of simple-data-grapher on npm and will be updating it soon to remove redundant code and I am about to begin with the process of integrating it with plots2 very soon.

https://www.npmjs.com/package/simple-data-grapher

[2019-07-02 09:16] IshaGupta18 commented on #60
@jywarren I have done the basic integration with plots2!!
![image](https://user-images.githubusercontent.com/40794215/60500530-22123b80-9cd8-11e9-913e-055726df7448.png)

[2019-07-02 15:36] jywarren commented on #60
oh wow, cool - can you share a PR? How does it work?

On Mon, Jul 1, 2019 at 11:08 AM Isha Gupta <notifications@github.com> wrote:

[2019-07-02 15:37] IshaGupta18 commented on #60
Yes definitely, I would be creating one in plots2 and share the link here!

[2019-07-02 15:38] IshaGupta18 commented on #64
Here's a heroku demo of the current `simple-data-grapher` functionality. I am still struggling with the same error for Google sheets tho :(

https://simple-data-grapher.herokuapp.com/

[2019-07-02 16:53] jywarren commented on #60
This is a simpler example we mentioned on the call!

https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb#L17-L18

[2019-07-02 16:54] jywarren commented on #60
Here is where we're inserting the Ruby values into the constructor of the Editor library!

https://github.com/publiclab/plots2/blob/a9d4e3048eee72aa3161f8999a6fde5b95443e58/app/views/editor/rich.html.erb#L315-L342

[2019-07-02 17:18] jywarren commented on #64
Some options to explore?

* https://stackoverflow.com/questions/42362702/how-to-import-a-csv-file-using-google-sheets-api-v4
* This seems to indicate that there could be a more complex integration like an "add-on" -- but maybe that's too much? https://blog.sheetgo.com/how-to-solve-with-sheetgo/import-csv-to-google-sheets-automatically/

[2019-07-02 17:22] jywarren commented on #64
https://developers.google.com/drive/api/v3/manage-uploads#import_to_google_docs_types_ - this looks promising and may not require a token...? it uses `fs` but maybe it could be replaced with something browser compatible? I think this approach probably assumes you are already logged into Google Drive, so we'd have to warn the user.

[2019-07-03 17:13] IshaGupta18 opened #65 "Publish Graphs as a Research Note"
**Is your feature request related to a problem? Please describe.**
Once we complete the integration with plots2, one of the features for Public Lab users could be to publish the created graphs as a Research Note.

**Propose ideas to implement this feature**
This is how I thought of doing it while I was writing my proposal.
![image](https://user-images.githubusercontent.com/40794215/60611219-6b02e6

[2019-07-03 17:30] jywarren commented on #65
Hi! Notice how when you drag a CSV into https://stable.publiclab.org/post, you get this power tag:

![Screenshot 2019-07-03 at 1 24 39 PM](https://user-images.githubusercontent.com/24359/60612144-fce40280-9d95-11e9-8f52-a559f6aee8b6.png)

![image](https://user-images.githubusercontent.com/24359/60612128-f5245e00-9d95-11e9-9726-172b3ab9cce2.png)

That's the "rich text" view. In Markdown, it's simpl

[2019-07-03 17:33] jywarren commented on #65
Similarly, you could create a new graph powertag, like `[simple-graph:/i/example.csv]` which would get inserted in the same way. Don't worry about the drag-and-drop part yet, I can show you later. (see [here for more](https://github.com/publiclab/PublicLab.Editor/search?q=graph))

For now, just focus on how the powertag `[graph:/i/example.csv]` gets converted into a displayed graph. If you make yo

[2019-07-03 19:25] IshaGupta18 commented on #65
Wow this is some pretty great stuff here. I can see how this ties up together, but I think I might want to do it a little differently. Since the graphs are already made, we could create a Research Note similar to this one but with the already plotted graphs, instead of drag and drop (since it already exists). Let me study this a little more deeply and I think we'll be good to go with a similar thi

[2019-07-07 23:32] IgorWilbert commented on #65
@IshaGupta18 not sure if I understand how you want to do this. If there is no drag and drop to create a Research Note with a given graph, do you plan to attach the graph to the note with an "upload button", for example? If yes, why don't we do both? If I am not mistaken, in Image Sequencer it is possible to upload an image either selecting the file or using drag and drop. Maybe we could do the sam

[2019-07-08 15:01] IshaGupta18 commented on #60
Here's the PR @jywarren https://github.com/publiclab/plots2/pull/5993

[2019-07-08 16:04] jywarren commented on #65
I think we could start by implementing the `[simple-graph:____.csv]` filtering in wikis/notes, without also doing drag/drop at the same time, as a first step. We could for example, as a first step, make it so you have to just drag/drop a CSV as you do now, but then change `[graph:____.csv]` to `[simple-graph:____.csv]` and then your code would start working. Then later we could decide how we want

[2019-07-08 16:14] IshaGupta18 commented on #65
That sounds pretty good, although a little tough, since we need to run the
entire thing for the selection of columns and stuff in the drag drop box
itself. What I suggest is, we create a "Publish as research note" button
where the graphs are plotted, and from there itself it can pick up the
plotted graphs and proceed in a similar manner as above. What do you think?

On Mon, Jul 8, 2019, 9:34 PM Je

[2019-07-08 16:20] jywarren commented on #65
Oh, i see. So the configuration of SDG would need to be added to the
short-code perhaps? How would that work? What are the parameters that would
need to be stored based on the selection of columns and such?

On Mon, Jul 8, 2019 at 12:14 PM Isha Gupta <notifications@github.com> wrote:

[2019-07-08 17:07] IshaGupta18 commented on #65
Yeah, we will create or use the current function for plotting the graph,
which already has the required selections, so I believe that should work?

On Mon, Jul 8, 2019, 9:50 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-07-08 18:51] jywarren commented on #65
well, can you list out the kinds of selections that need to be made, so we
can think about what associated data would have to go with a .csv file?
Thanks!

On Mon, Jul 8, 2019 at 1:07 PM Isha Gupta <notifications@github.com> wrote:

[2019-07-08 19:04] IshaGupta18 commented on #65
Yes, just let me study about the short-code a little more, then I'll get
back to you with the parameters. If I am not mistaken, we would be just
needing the plotgraph function, which already has the selected parameters,
that should do the trick. Thanks a lot!

On Tue, Jul 9, 2019, 12:21 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-07-11 06:05] IshaGupta18 commented on #65
Okay, so I have been sleuthing through all the codes and files that come together and create the inline graph feature and I found a lot of interesting stuff, much of  which I understood, but I still have some doubts one of them being, from where exactly are we sending this post request to `/images`
![image](https://user-images.githubusercontent.com/40794215/61025447-65eafc00-a3ce-11e9-944a-2bfe43d

[2019-07-12 14:26] IshaGupta18 commented on #65
There are some links between this flow that I have written which are missing. For example where exactly is this tag created with a particular name like this and this format of values?

[2019-07-12 18:50] jywarren commented on #65
Hi! The post request would come from dragdrop.js if from a comment textarea. But if from the editor at /post or /questions/new, then it's from the PublicLab.Editor project. Both post to the images controller to upload any filetype allowed. Then they get back a URL once it's uploaded. Hope that helps!

[2019-07-12 18:52] jywarren commented on #65
And, you can manually create the tag. But, if you drag in, PublicLab.editor will autogenerate it for you.

https://github.com/publiclab/PublicLab.Editor/pull/137

And

https://github.com/publiclab/PublicLab.Editor/pull/141

[2019-07-13 09:52] IshaGupta18 commented on #65
@jywarren thanks a lot for the comment! However, I wanted to tell you that I am struggling a lot with this ie I am not able to clearly find a way to implement it, despite going through almost everything. Is there a way that I could to you or someone who has worked with editor and nodes, to achieve this? Maybe a small 10-minute talk, in case you're free sometime? In the meanwhile, I'll try to read

[2019-07-14 12:02] IshaGupta18 commented on #65
Maybe we can come a little before the open call or something? I also wanted to let you know that I am working on CODAP and UI testing a little. And I also listed the flow of things in the integration PR https://github.com/publiclab/plots2/pull/5993#issuecomment-510356435

[2019-07-14 13:28] jywarren commented on #65
I may be a bit busy this week at a conference, but I will give some hints here! Start by creating a new method in node_shared.rb, a copy of the existing graph method that can pattern match something similar like `[simple-graph:/path/example.csv]`

List the new method in this file right below the existing graph method:

https://github.com/publiclab/plots2/blob/75f3a7e23603c83fd0bfcd74cb38457f0e95fd

[2019-07-14 13:29] jywarren commented on #65
So you can start by just copying the new files and methods and I can help you modify and customize them as a next step!

[2019-07-14 13:30] IshaGupta18 commented on #65
Alright! Thanks a ton! I will go through it and implement all that I can
and get back to you. Thanks again and good luck with the conference!

On Sun, Jul 14, 2019, 6:58 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-07-14 13:31] IshaGupta18 commented on #65
Sure, let me work this out, and I'll let you know of what has been done and
what complications I face :)

On Sun, Jul 14, 2019, 6:59 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-07-22 12:44] IshaGupta18 opened #68 "Removing unused code"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-07-22 13:08] IshaGupta18 opened #69 "Redesign Add Graph Button"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-07-22 19:58] VarsPhilos commented on #69
first-timer here, I would like to fix this issue.

[2019-07-22 19:59] IshaGupta18 commented on #69
Go right ahead! Do let us know if you face any issues at all!

On Tue, Jul 23, 2019, 1:28 AM Vars <notifications@github.com> wrote:

[2019-07-24 15:38] noah56 commented on #68
Hi! I'm new to GitHub but would like to start contributing to some open source projects. I have removed the lines from Vew.js. Do I also need to remove the "<button type="button" class=..." from some other file?

[2019-07-24 20:44] IshaGupta18 commented on #68
No this one only, can you create a PR for this? Thanks a lot!

On Wed, Jul 24, 2019, 9:08 PM Noah <notifications@github.com> wrote:

[2019-07-26 04:53] sreekanth-manda commented on #69
@VarsPhilos are you still doing this? if not I would like to work.

[2019-07-26 06:36] IshaGupta18 commented on #69
I think he is, let's wait for him to respond!

On Fri, Jul 26, 2019, 10:23 AM Sreekanth Manda <notifications@github.com>
wrote:

[2019-07-28 14:18] pherwanikar commented on #50
Hey can you  add a WIP label to tickets that have already been picked up to make it clear that they are taken?

[2019-07-30 22:30] bradingtons commented on #69
Hi first-timer here as well, if he is stuck i'm willing to help otherwise i can give this issue a try thanks.

[2019-08-02 15:02] amnoweb commented on #69
Do you still need help with this?

[2019-09-09 20:04] gaddeharsha13 commented on #68
Hi is this still open? Can I claim this issue?

[2019-09-09 20:06] IshaGupta18 commented on #68
Yes, please go ahead!

[2019-09-30 19:37] hemang249 commented on #50
Still Open for Solving ? Would like to have a go at this one

[2019-09-30 19:39] IshaGupta18 commented on #50
I think you can give it a try!

On Tue, Oct 1, 2019, 1:07 AM Hemang Bhogayata <notifications@github.com>
wrote:

[2019-10-01 08:53] sianlouisa commented on #68
Hi, I'd like to work on this if it isn't currently in progress? Thanks!

[2019-10-01 10:33] IshaGupta18 commented on #68
Yes go ahead!

On Tue, Oct 1, 2019, 2:23 PM Sian Lynch <notifications@github.com> wrote:

[2019-10-01 21:32] dsuarezlogans commented on #68
Hello! is still available to work on? I'm first timer and I'll like to start with this Issue

[2019-10-02 04:12] IshaGupta18 commented on #68
I think someone is working on it already?

On Wed, Oct 2, 2019, 3:02 AM Danny Suarez <notifications@github.com> wrote:

[2019-10-02 15:31] dsuarezlogans commented on #50
Hi @IshaGupta18, is this issue available to work on it?

[2019-10-04 08:27] sisohs commented on #69
Is help still required?

[2019-10-04 08:51] IshaGupta18 commented on #69
Yes, would appreciate your help! Give it a shot!

On Fri, Oct 4, 2019, 1:57 PM S!$0 <notifications@github.com> wrote:

[2019-10-06 20:19] laurenelizamax commented on #69
Hi, is this still open?

[2019-10-10 02:20] futuregit commented on #68
@IshaGupta18 Hello. First-timer. I see someone is working on it already. I would like to contribute, but I'm not sure where to start?

[2019-10-13 05:14] amreshk005 commented on #69
@IshaGupta18 is it still open if yes can I can take it?

[2019-10-19 09:11] sivietz commented on #69
Hello, is this issue still open?

[2019-10-19 09:51] raksh07 commented on #50
Hi can I try this issue

[2019-10-20 03:32] IshaGupta18 commented on #50
Sure!

On Sat, Oct 19, 2019, 3:21 PM raksh07 <notifications@github.com> wrote:

[2019-10-20 03:33] IshaGupta18 commented on #69
Feel free to brainstorm!

On Sat, Oct 19, 2019, 2:41 PM sivietz <notifications@github.com> wrote:

[2019-10-23 06:44] alexyiangou commented on #50
Hey! I would like to lend a hand on this as well! :slightly_smiling_face:

[2019-10-24 10:34] skathuria29 commented on #68
Hi!  Is this issue still up for grabs ?

[2019-10-24 15:08] HarryKayNeezy commented on #69
hey is this issue still open? can i work on this?

[2019-10-24 15:09] IshaGupta18 commented on #69
Feel free to work on it?

On Thu, Oct 24, 2019, 8:38 PM Harry Kay <notifications@github.com> wrote:

[2019-10-24 15:09] IshaGupta18 commented on #68
If there is no PR for it, go for it!

On Thu, Oct 24, 2019, 4:04 PM Saloni Kathuria <notifications@github.com>
wrote:

[2019-10-25 23:15] milbeeen commented on #69
Hello @IshaGupta18, is this issue still open? May I work for this one?

[2019-10-26 04:50] debck commented on #69
Yes @milbeeen , there is no active PR for this. So you can start working.
Thanks

[2019-10-27 06:57] anuk79 commented on #68
@IshaGupta18 Hi, if no one is working on this, can I pick this up?

[2019-10-27 07:05] IshaGupta18 commented on #68
If there is no PR, go for it!

On Sun, Oct 27, 2019, 12:27 PM Anuradha <notifications@github.com> wrote:

[2019-10-27 12:05] anuk79 commented on #68
One pr has already been merged, so this issue can be closed I guess.

[2019-10-28 15:19] debck opened #88 "Add space in the button for clarity"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-10-28 15:47] ajtrichards commented on #88
I have a PR for this one :)

[2019-10-28 18:46] #68 closed

[2019-10-30 12:17] ovpv commented on #50
Hi, Can i try?

[2019-10-30 12:25] IshaGupta18 commented on #50
Sure!

On Wed, Oct 30, 2019, 5:47 PM Vishnuprasad Venugopal <
notifications@github.com> wrote:

[2019-10-31 11:03] Marcos314 commented on #88
How can I help with this problem?

[2019-10-31 16:52] shreesagar3 commented on #88
Claimed PR for this issue. :)
First step to my open-source contribution with this pull request.

[2019-10-31 17:21] andrewgcodes commented on #88
PR

[2019-11-01 13:40] BlackSou commented on #88
pr

[2019-11-06 18:55] debck opened #97 "Remove unnecessary console.log statements"
Please Note:  **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

**Problem**
There are a lot of unnecessary `console.log` statements defined inside all the javascript functions
 in `src` folder.

**Expected behavior**

We should remov

[2019-11-06 18:58] debck commented on #97
**Uploaded on GCI dashboard**

[2019-11-07 11:54] debck opened #98 "Setup Travis CI in the project"
Please Note:  **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

**What's the feature request? Please describe.**

Travis CI makes developing software efficient and it ensures we deploy clean code that follows good practice and also d

[2019-11-07 12:04] debck commented on #98
**Uploaded on GCI dashboard**

[2019-11-09 12:39] pydevsg opened #99 "Save file option for Create Spreadsheet Button"
**Is your feature request related to a problem? Please describe.**
Whenever we try to do ` Create Spreadsheet+`, it usually downloads a file with a default name, what if the user wants to save the file with some username in his/her desired location.

**Describe the feature/solution you'd like**
On clicking `Create Spreadsheet+` button a file dialog for the user should be opened to choose where he/

[2019-11-09 12:41] pydevsg commented on #99
@IshaGupta18 , @namangupta01 what do you think?
I would like to work on this issue if you kindly help me in writing the functionality, as the code is quite different from simple JS.

[2019-11-09 12:47] pydevsg opened #100 "Gif should be added for the working of this project"
**Is your feature request related to a problem? Please describe.**
Being a beginner whenever try to upload a csv file I am unable to understand the flow as sometimes the plot-graph button isn't showing the desired graph it is showing the default graph.

**Describe the feature/solution you'd like**
A small Gif should be added for the users to understand the working of this project in our main websi

[2019-11-09 13:02] pydevsg commented on #100
@IshaGupta18  if you can help me in solving one issue , I would do the above by my own.
I have a sample csv data - [Sales Data](https://drive.google.com/file/d/1FDWeO4XX0ivFt0VCwzgSQsbfObgr4r_2/view?usp=sharing). I would like to plot a data on the basis of users on the Payment_Type used.
I tried to play with the project but ended up getting a default graph , how can I solve the same?
![newplot](ht

[2019-11-09 19:23] debck opened #101 "Remove unused variable"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-11-09 19:29] guyett92 commented on #101
Hi there! I'd like to claim this!

[2019-11-09 19:30] debck commented on #101
@guyett92 Yes sure, feel free to make a PR

[2019-11-09 20:43] guyett92 commented on #101
Submitted.

[2019-11-11 08:18] yaeltu commented on #101
Can I claim this?

[2019-11-12 15:42] dungeonaltaf commented on #97
I am not taking part in GCI.
Can i do this?

[2019-11-12 19:53] debck commented on #97
Sorry, @dungeonaltaf
This issue is reserved for the GCI students.  Please check out https://code.publiclab.org to find more issues.
Thank you

[2019-11-15 09:15] debck opened #103 "Typo error in contributing.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-11-15 10:00] Doomsdan commented on #103
Im an open source beginner, and i would try to solve this issue

[2019-11-15 10:09] Doomsdan commented on #103
I corrected the typo, can somebody review it?

[2019-11-15 16:52] SidharthBansal commented on #98
Published

[2019-11-15 16:53] SidharthBansal commented on #97
Published

[2019-11-15 18:23] debck commented on #97
@SidharthBansal  Can you please recheck? It is not yet published on the dashboard

[2019-11-18 07:36] SidharthBansal commented on #97
Please hide unwanted comments. There was latency conflicts.

[2019-11-18 07:36] SidharthBansal commented on #97
Published now

[2019-11-18 11:13] #103 closed

[2019-11-25 14:13] debck opened #105 "Add a proper header/navbar in the main page"
Note:- **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Describe the idea or (feature)

We need to add a proper header/navbar to the main page and provide some general information in it like the GitHub repo link and a bit about

[2019-11-25 14:18] debck opened #106 "Add a footer to the page"
Note:- **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Describe the idea or (feature)

We need to add a footer to the main page and provide some general information on it.

### Reference

We can take a reference from this: htt

[2019-11-25 14:21] debck commented on #106
**Uploaded to GCI dashboard**

[2019-11-25 14:22] debck commented on #105
**Uploaded to dashboard**

[2019-11-26 03:32] debck opened #107 "Refactor html to follow standard structure"
Note:- **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### What's the problem (or idea)

The HTML code we have in our project doesn't follow the standard structure. Now, we have two HTML files -
1. https://github.com/publiclab/sim

[2019-11-26 03:35] debck commented on #107
**Uploaded to GCI dashborad**

[2019-11-27 16:37] SidharthBansal commented on #106
PUBLISHED

[2019-11-27 16:38] SidharthBansal commented on #107
Published

[2019-11-28 06:08] SidharthBansal commented on #105
Published

[2019-12-03 01:04] chen-robert commented on #107
Could I have this task assigned to me please?

[2019-12-03 09:01] #107 closed

[2019-12-03 18:02] chen-robert opened #109 "`npm start` default port"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-12-03 18:51] KNIAZEV1 commented on #109
Hi, @chen-robert
I'll do this issue:)

[2019-12-04 03:13] genesis331 commented on #106
Hi, please review the [PR](https://github.com/publiclab/community-toolbox/pull/295) made.

[2019-12-04 05:20] genesis331 commented on #106
Please review https://github.com/publiclab/simple-data-grapher/pull/110.

[2019-12-04 06:04] genesis331 commented on #97
Claimed.

[2019-12-04 07:00] debck commented on #97
hey, @genesis331 You need to complete the Installation task before moving on to the next issue. So you need to claim them on the GCI task list first and then move on to solving rest. This is a compulsion for all students.
Have a read here: https://github.com/publiclab/plots2/issues/6808

[2019-12-05 06:52] debck opened #112 "Add config.yml for welcoming new users"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't con

[2019-12-05 06:58] debck commented on #112
**Uploaded on GCI dashboard**

[2019-12-05 19:11] #97 closed

[2019-12-06 06:32] Uzay-G commented on #98
Hey @debck, I would like to work on this when my other task is approved. When it is, I will test the Travis CI on my fork of the repo.

[2019-12-06 08:24] SidharthBansal commented on #112
Published

[2019-12-06 10:44] debck commented on #98
Yes sure. You can claim this issue on GCI and then carry on the work.

[2019-12-07 08:15] pythongiant commented on #112
Can I claim this issue

[2019-12-07 08:43] pythongiant commented on #112
@SidharthBansal @debck

[2019-12-07 11:55] #112 closed

[2019-12-08 03:26] Ryan10145 commented on #105
I am currently working on this (I claimed the respective task on the GCI dashboard).

[2019-12-08 10:33] myungwoo-Y commented on #109
Hi, can I work on this issue?

[2019-12-09 08:58] #106 closed

[2019-12-10 16:08] #105 closed

[2019-12-14 16:09] #98 closed

[2019-12-14 16:21] debck opened #118 "Update tests to pass Travis CI build"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### What's the problem (or idea)
The Travis CI build for the project fails due to the recent updates in the UI of the project.

### What should be done?

You need to update the

[2019-12-14 16:26] debck commented on #118
**Uploaded to GCI dashboard**

[2019-12-14 16:45] debck opened #119 "Add test case for the footer"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### What's the idea (or problem)

There have been recent updates in the UI of the project. We have our footer added recently. So it will be good to add a UI test for that.

###

[2019-12-14 16:48] debck commented on #119
**Uploaded to dashboard**

[2019-12-16 17:25] SidharthBansal commented on #119
Published

[2019-12-16 17:25] SidharthBansal commented on #118
Published

[2019-12-17 04:29] CodeSarthak commented on #119
Hey, I have never written tests before. Can someone guide me as to how to proceed and how to implement the same?

Thank you.

[2019-12-17 11:51] Uzay-G commented on #119
Hey! I would like to work on this when my other pr is accepted. Are you doing this one @CodeSarthak?
Thanks.

[2019-12-17 14:56] CodeSarthak commented on #119
I have not claimed it yet but I was planning to do it after I complete the issue I am currently working on.

[2019-12-17 21:34] Uzay-G commented on #118
Hey! I've solved this on my local branch but am waiting for another task to be approved. Should I make a PR when I am done with the other one?
Thanks @debck :smile:

[2019-12-18 04:36] debck commented on #118
Yes sure @Uzay-G.

[2019-12-18 14:57] Uzay-G commented on #118
You can check out the travis on my repo branch with my changes here: https://travis-ci.org/Uzay-G/simple-data-grapher.

I will make a pr when I am finished.
Thanks

[2019-12-19 06:19] debck commented on #118
Yes, good work @Uzay-G  :tada:
Remember to claim it on GCI and submit for review soon. If anyone else claims the task, then we have to give this issue to him/her.

[2019-12-19 06:30] #119 closed

[2019-12-19 15:14] #118 closed

[2019-12-19 15:30] debck opened #122 "Add Code of Conduct badge and build status badge in the readme"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-19 15:33] debck commented on #122
**Uploaded on GCI**

[2019-12-21 07:40] #20 closed

[2019-12-21 09:39] SidharthBansal commented on #122
Published

[2019-12-22 18:05] #109 closed

[2019-12-22 18:29] GITHUBUSR01 commented on #122
Claimed

[2020-01-18 08:04] keshav234156 opened #123 "Not drawing correct result"
I was using simple-data-Grapher with this CSV file
https://docs.google.com/spreadsheets/d/19uWUjECy6RsdaFgZutU0lEqBCih6HLuzLVK3qAfndxI/edit?usp=sharing.
i wanted to have a graph between dates and rain column. I expected the graph to be continuous. On the x-axis, it only takes some value and on the y-axis, it taking all the values that why I think it's happening.
![newplot (1)](https://user-images.

[2020-01-18 08:04] keshav234156 commented on #123
cc:@jywarren @IshaGupta18

[2020-01-20 13:29] IshaGupta18 commented on #123
Did you try zooming the graph? This is really odd :(

[2020-01-26 19:26] #101 closed

[2020-01-27 13:43] #123 closed

[2020-02-19 18:09] 9devilal commented on #122
@debck can i work on this . This would be my first contribution to any open source

[2020-02-19 18:58] debck commented on #122
@9devilal yes sure 👍

[2020-02-21 06:59] #122 closed

[2020-10-12 09:54] shallom-dot commented on #88
Is this issue still open? If it is, I'd like it to be assigned to me. Thanks!

[2020-11-02 02:34] syamimiamirah97 opened #127 "Putting the graph in my own website and matching up my own layout"
Description
Hi, may I know how to put this simple-data-grapher in my own website and how can I change the layout to match it with my own?

[2022-04-06 10:38] LontchiFrank commented on #88
Please which to know if this issue is still open , wish to be assign on this

[2022-04-20 10:29] Akanksha2403 commented on #88
@debck  is this issue still open can I work on this if it's still open?

[2022-06-27 13:52] sawyer1776 commented on #88
Going to give this a try

[2022-08-09 06:45] kushwahajai74 commented on #88
interested